
/* styling the todo form */
.form-input{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.3em;
}

.form-input input{
  font-size: 1em;
  padding: 0.5em 0.3em;
  height: 2em;
  border-radius: 1em;
  border: none;
  outline: none;
  padding-left: 1em;
  box-shadow: inset 1px 0px 6px 0px #0e09097a;
}
.submit-button{
  /* height: 1em;
  width: 1em; */
  width:2em;
  font-size: 1.2em;
  padding: 0.3em;
  outline: none;
  border-radius: 50%;
  border: none;
  background-color: #c912c9;
  color: #ffffff;
  box-shadow: inset 4px 0px 7px 0px #f3f2f2;
}

/* styling the todo lists */

.todo-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  box-shadow: inset 1px 0px 6px 0px #0e090994;
  padding: 1em;
  border-radius: 1em;
}
.todo-item{
  display: flex;
  justify-content:space-between;
  box-shadow: inset -4px -2px 6px 0px #0e09096c;
    padding: 0.7em 1em;
  background-color: #ffffff;
  border-radius:1em;
  width: 18em;
  cursor: pointer;

}
.item{
  display: flex;
  gap: 0.4em;
}
.item p{
  font-size: 1em;
}
.item-name input{
 font-size: 1em;
}
.delete-btn{
  background-color: #ff0000;
  width:2em;
  font-size: 0.9em;
  padding: 0.3em;
  outline: none;
  border-radius: 50%;
  border: none;
  box-shadow: 1px ;
  color: #ffffff;
}

